%% behaviours should be compiled before other files
{erl_first_files, [
    "src/cluster_elements/worker_host/worker_plugin_behaviour.erl",
    "deps/ctool/annotations/performance.erl"
]}.

%% directory for releases
{sub_dirs, ["rel"]}.

%% to include deps headers
{lib_dirs, ["deps"]}.

%% eunit opts - Maven-like output formatting
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "../test/eunit_results"}]}}]}.

%% deps options
{deps, [
    {ctool, ".*", {git, "${ONEDATA_GIT_URL}/ctool.git", {tag, "fa7f8bac33"}}},
    {cluster_worker, ".*", {git, "${ONEDATA_GIT_URL}/cluster-worker.git", {tag, "43ddf433319"}}}
]}.

%% plugins
{plugins, [rebar_git_plugin, rebar_annotations_plugin]}.

%% pre-hooks
{pre_hooks, [
    {eunit, "mkdir -p test/eunit_results"}, %% Make dir for eunit' surefire test results
    %% Sometimes, in some cases epmd daemon doesn't start during eunit tests,
    %% so we need to force start it
    {eunit, "epmd -daemon"},
    %% bamboos compilation
    {compile, "make -C bamboos compile"},
    {clean, "make -C bamboos clean"},
    %% dir for compiled C libs
    {compile, "mkdir -p priv"}
]}.

{post_hooks, [
]}.

%% Cleanup
{clean_files, [
    "test/eunit_results"
]}.

%% Options for erlyDTL (templates for GUI)
{erlydtl_opts, [
    {out_dir, "ebin"}
]}.
